@inherits RocketContent.Components.RocketContentTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketContent.Components;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketContent/App_LocalResources/")

@{
    var articleDataList = (ArticleLimpetList)Model.List.First();
    var lp1 = 0;
    var passModel = new SimplisityRazor(articleDataList.PortalCatalog, new Dictionary<string, string>());
    var appThemeSystem = new AppThemeSystemLimpet("rocketcontent");
    var sessionParams = Model.SessionParamsData;
}

@RenderTemplate("Popups.cshtml", appThemeSystem, Model, false)

<div class='w3-animate-opacity'>

    <div class="w3-row w3-padding">
        <div class="w3-col m2 w3-button rocket-buttonbar w3-green simplisity_click" s-cmd="articleadmin_addarticle" s-return=".articleeditpopup" s-fields='{"articleid":"-1","sitekey":"@(articleDataList.PortalCatalog.SiteKey)"}'>@ButtonText(ButtonTypes.add)</div>
    </div>

    <div class="w3-bar w3-card searchdata w3-padding">
        <div class="w3-bar-item w3-col m4 " style='width: 360px'>
            <div class="w3-bar">
                @TextBox(new SimplisityInfo(), "genxml/textbox/searchtext", "class='w3-bar-item w3-input w3-border w3-light-grey simplisity_sessionfield actionentrykey' autocomplete='off' ")
                <span class="w3-bar-item w3-button w3-border w3-orange clearsearch " style="display:none;" s-fields=''>@ButtonIcon(ButtonTypes.cancelsearch)</span>
                <span class="w3-bar-item w3-button w3-border w3-green simplisity_click dosearch" s-sessionfield='#searchtext,#pagesize' s-cmd="articleadmin_articlesearch" s-post=".searchdata" s-fields='{"track":"true"}'>@ButtonIcon(ButtonTypes.search)</span>
            </div>
        </div>
        <div class="w3-bar-item w3-col m2 w3-right w3-hide-small w3-margin-left" style="width: 100px">
            @DropDownList(new SimplisityInfo(), "genxml/hidden/pagesize", "8,16,32,64,128", "8,16,32,64,128", "class='w3-input w3-border w3-light-grey simplisity_sessionfield simplisity_change ' s-sessionfield='#searchtext,#pagesize,#orderbyref' s-cmd='articleadmin_articlesearch' s-post='.searchdata' s-fields='{\"track\":\"true\"}'  title='" + @ResourceKey("DNNrocket.pagesize") + "'", "32")
        </div>
        @if (articleDataList.PortalCatalog.ArticleOrderBy)
        {
            var orderbyDictionary = new Dictionary<string, string>();
            foreach (var orderbyInfo in articleDataList.PortalCatalog.GetProductOrderByList())
            {
                orderbyDictionary.Add(orderbyInfo.GetXmlProperty("genxml/key"), ResourceKey("RE." + orderbyInfo.GetXmlProperty("genxml/key")).ToString());
            }
            <div class="w3-bar-item w3-col m2 w3-right w3-hide-small w3-margin-left">
                @DropDownList(new SimplisityInfo(), "genxml/hidden/orderbyref", orderbyDictionary, "class='w3-input w3-border w3-light-grey simplisity_sessionfield simplisity_change ' s-sessionfield='#searchtext,#pagesize,#orderbyref' s-cmd='productadmin_productsearch' s-post='.searchdata' s-fields='{\"track\":\"true\"}' title='" + @ResourceKey("DNNrocket.pagesize") + "'", "32")
            </div>
        }

    </div>




    <div id="datasection" class="">


        <div id="datalist2" class="w3-row w3-padding  w3-margin-top ">
            @{
                lp1 = 0;
            }

            <ul id="articlelistdata" class="w3-ul w3-hoverable" style="border-bottom: none;">

                @foreach (ArticleLimpet articleData in articleDataList.GetArticleList())
                {
                    lp1 += 1;
                    <li class="categorylist w3-row simplisity_click" s-cmd="articleadmin_editarticle" s-return=".articleeditpopup" s-fields='{"articleid":"@articleData.ArticleId","track":"false"}'>
                        <div class="w3-rest w3-card " style="cursor: pointer;">
                            <div class="w3-bar w3-card " style="">
                                <div class="w3-bar-item">
                                    @if (articleData.LogoRelPath != "")
                                    {
                                        <img src="@ThumbnailImageUrl(articleData.LogoRelPath, 48, 48)" style="height:48px;width:48px;" class="w3-round" />
                                    }
                                    else
                                    {
                                        <img src="@ThumbnailImageUrl("/DesktopModules/DNNrocket/api/images/noimage2.png", 48, 48)" style="height:48px;width:48px;" class="w3-round" />
                                    }
                                </div>
                                <div class="w3-bar-item">
                                    <div class="w3-tiny">
                                        @articleData.Ref
                                    </div>
                                    @articleData.Name
                                </div>
                            </div>
                        </div>

                    </li>
                }
            </ul>

        </div>

        @RenderTemplate("ArticlePaging.cshtml", articleDataList.PortalCatalog.AppTheme, Model, true)

    </div>
</div>

<script>
    $(document).ready(function () {

        $(':checkbox').attr('class', 'w3-check');

        $('.clearsearch ').unbind("click");
        $('.clearsearch ').click(function () {
            $('#searchtext').val('');
            $('.dosearch').trigger('click');
            return false; // prevent the button click from happening
        });

        if ($('#searchtext').val() !== '') {
            $('.dosearch').hide();
            $('.clearsearch').show();
        }


        $('.actionentrykey').unbind('keypress');
        $('.actionentrykey').on('keypress', function (e) {
            if (e.keyCode == 13) {
                $('.dosearch').trigger('click');
                return false; // prevent the button click from happening
            }
        });

        $('.actionentrykey').focus();

        // move cursor to end of line
        var tmpStr = $('.actionentrykey').val();
        $('.actionentrykey').val('');
        $('.actionentrykey').val(tmpStr);

        //  change color of panel, s we show it has a selection
        if (tmpStr != '') {
            $('#searchtext').addClass('w3-border-red');
        }

    });

    function languageChange() {
        $('.dosearch').trigger("click");
    }

</script>
