@inherits RocketContent.Components.RocketContentTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketContent.Components;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/Images/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketContent/App_LocalResources/")


@{
    var info = new SimplisityInfo();
    var articleData = (ArticleLimpet)Model.List.First();
    if (articleData.Info != null)
    {
        info = articleData.Info;
    }
    var portalCatalog = new PortalCatalogLimpet(articleData.PortalId, DNNrocketUtils.GetEditCulture());
    var appThemeSystem = new AppThemeSystemLimpet(portalCatalog.SystemKey);
    var sessionParams = Model.SessionParamsData;
}

    <div class='w3-animate-opacity'>

        <div class="w3-row w3-padding">
            <div class="w3-col m2 w3-button rocket-buttonbar w3-green simplisity_click savearticlebutton langchangesave" s-list=".imagelist,.documentlist,.linklist" s-cmd="articleadmin_savedata" s-post="#articledatasection" s-return=".articleeditpopup" s-fields='{"articleid":"@articleData.ArticleId"}'>@ButtonText(ButtonTypes.save)</div>
            <div class="w3-col m2 w3-button rocket-buttonbar w3-red simplisity_confirmclick" s-confirm="@ResourceKey("DNNrocket.delete","","confirm")" s-cmd="articleadmin_delete" s-fields='{"articleid":"@articleData.ArticleId"}'>@ButtonText(ButtonTypes.delete)</div>

            @if (Model.GetSettingBool("saved"))
            {
                <span class="material-icons simplisity_fadeout">
                    save
                </span>
            }

        </div>

        <div id="articledatasection" class="">
            <!-- The Detail-->
            <div id="detailDisplay" class="w3-container">

                <div class='w3-row'>
                    <div class="w3-third">
                        <div>
                            <div class="w3-quarter w3-padding">
                                <label>@ResourceKey("RC.ref")</label>
                                @TextBox(info, "genxml/textbox/articleref", " class='w3-input w3-border' autocomplete='off' ", "", false, 0)
                            </div>
                            <div class="w3-threequarter w3-padding">
                                <label>@ResourceKey("RC.name")</label>&nbsp;@EditFlag(sessionParams)
                                @TextBox(info, "genxml/lang/genxml/textbox/articlename", " class='w3-input w3-border' autocomplete='off' ", "", false, 0)
                            </div>
                        </div>
                    </div>
                    <div class="w3-twothird w3-padding">
                        <label>@ResourceKey("RC.keywords")</label>&nbsp;@EditFlag(sessionParams)
                        @TextArea(info, "genxml/lang/genxml/textbox/articlekeywords", "class='' ", "", false, 0)
                    </div>
                </div>
                <div class='w3-row w3-padding '>&nbsp;@EditFlag(sessionParams)
                    @TextArea(info, "genxml/lang/genxml/textbox/articlesummary", "rows='3' style='width:100%;overflow:hidden;' ", "", false, 0)
                </div>

                <div class='w3-row w3-padding'>

                    <div class="w3-col m12 w3-theme-l3 w3-margin-top">
                        <div class="w3-bar-item w3-button tablink htmltexttablink" onclick="openSection('htmltext')">@ResourceKey("RC.html")</div>
                        <div class="w3-bar-item w3-button tablink catstablink" onclick="openSection('cats');">@ResourceKey("RC.categories")</div>
                        <div class="w3-bar-item w3-button tablink imgstablink" onclick="openSection('imgs');">@ResourceKey("DNNrocket.images")</div>
                        <div class="w3-bar-item w3-button tablink docstablink" onclick="openSection('docs');">@ResourceKey("DNNrocket.documents")</div>
                        <div class="w3-bar-item w3-button tablink linkstablink" onclick="openSection('links');">@ResourceKey("DNNrocket.links")</div>
                    </div>

                    <div id="htmltext" class='w3-row sectionname' style="display:none">
                        <div class='w3-col m12 w3-padding'>
                            @EditFlag(sessionParams)
                            @EditorQuill(info, "genxml/lang/genxml/textbox/articlerichtext", "style='min-height:150px;width:100%'", "", true)
                        </div>
                    </div>

                    <div id="cats" class='w3-row sectionname' style="display:none">
                        <div class='w3-col m12 w3-padding '>
                            @RenderTemplate("ArticleCategoryList.cshtml", appThemeSystem, Model, true)
                            @RenderTemplate("ArticleCategorySelect.cshtml", appThemeSystem, Model, true)
                        </div>
                    </div>

                    <div id="imgs" class='w3-row sectionname' style="display:none">
                        <div class='w3-col m12 w3-padding '>
                            @RenderTemplate("articleimages.cshtml", appThemeSystem, Model, true)
                            @RenderTemplate("articleImageSelect.cshtml", appThemeSystem, Model, true)
                        </div>
                    </div>

                    <div id="docs" class='w3-row sectionname' style="display:none">
                        <div class='w3-col m12 w3-padding '>
                            @RenderTemplate("articledocuments.cshtml", appThemeSystem, Model, true)
                            @RenderTemplate("articledocumentSelect.cshtml", appThemeSystem, Model, true)
                        </div>
                    </div>

                    <div id="links" class='w3-row sectionname' style="display:none">
                        <div class='w3-col m12 w3-padding '>
                            @RenderTemplate("articlelinks.cshtml", appThemeSystem, Model, true)
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

<div>
    @if (UserUtils.IsInRole("Administrator"))
    {
        <div class="w3-container">
            <div class="w3-right">
                @RenderXml(info)
            </div>
        </div>
    }
    <i>ID: </i> @info.ItemID <i> GuidKey:</i> @info.GUIDKey
</div>


<script>
    $(document).ready(function () {

        var sectionName = simplisity_getCookieValue('sectionName');
        if ((typeof sectionName === 'undefined') || sectionName === '') {
            sectionName = 'cats';
        }
        openSection(sectionName);

        $('#articlekeywords').tagEditor({
            delimiter: ', ', /* space and comma */
            placeholder: '@ResourceKey("RE.keywords") ...',
            removeDuplicates: false,
        });

        rcadmin.moveToTop('#articleeditmodal');
    });

    function openSection(sectionName) {
        var i, x, tablinks;
        x = document.getElementsByClassName("sectionname");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        $(".tablink").each(function (index) {
            $(this).removeClass('w3-theme-d5');
        });

        document.getElementById(sectionName).style.display = "block";

        $('.' + sectionName + 'tablink').addClass('w3-theme-d5');

        simplisity_setCookieValue('sectionName', sectionName);

    }

    function languageChange() {
        $('.langchangesave').trigger("click");
    }

</script>



