@inherits RocketContent.Components.RocketContentTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketContent.Components;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketContent/App_LocalResources/")

@{
    var articleDataList = (ArticleLimpetList)Model.List.First();
    var sessionParams = (SessionParams)Model.SessionParamsData;
    var categoryDataList = (CategoryLimpetList)Model.GetDataObject("categorydatalist");
    var categoryData = new CategoryLimpet(articleDataList.PortalCatalog.PortalId, articleDataList.SessionParamData.GetInt("searchcategoryid"), sessionParams.CultureCode);

}

@RenderTemplate("SearchBanner.cshtml", articleDataList.PortalCatalog.AppTheme, Model, true)


<!-- Sidebar/menu -->
@RenderTemplate("CategorySideMenu.cshtml", articleDataList.PortalCatalog.AppTheme, Model, true)

<div class="w3-main" style="margin-left:340px;margin-right:40px;margin-top:72px">

    <!-- Header -->
    <div class="w3-container" style="margin-top:80px" id="showcase">
        <h1 class="w3-xxlarge w3-text-theme"><b>@categoryData.Name</b></h1>
    </div>
    <div class="w3-margin-left">
        @BreakOf(categoryData.Summary)
        @HtmlOf(categoryData.RichText)
    </div>


    <div id="datasection" class="w3-topbar">


        <ul class="w3-ul w3-hoverable w3=-border-bottom">
            @{
                var lp1 = 0;
            }
            @foreach (ArticleLimpet articleData in articleDataList.GetArticleList())
            {
                lp1 += 1;
                <li class="simplisity_click" s-cmd="rocketcontent_public" s-return='#simplisitymodulewrapper' s-post=".searchdata" s-fields='{"articleid":"@(articleData.ArticleId)","track":"true"}' style="cursor:pointer;">
                    @articleData.Name
                </li>
            }
        </ul>


        @RenderTemplate("Paging.cshtml", articleDataList.PortalCatalog.AppTheme, Model, true)

        <div class="w3-row w3-padding w3-right">
            <p class="w3-left w3-text-grey">@articleDataList.RecordCount @ResourceKey("RC.articles", sessionParams.CultureCode)</p>
        </div>

    </div>




    <!-- End page content -->
</div>


<script>

    $(document).ready(function () {
      //  activatedocumentready('@(articleDataList.PortalCatalog.EngineUrlWithProtocol)');
    });

</script>
